html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #13294B;
    color: #ebebeb;
}

section {
    background: darkcyan;
    /* border-width: 20px;
    border-color: skyblue; */
    border-radius: 5px;
    padding-bottom: 5px;
    /* border: 0.5px; */
    /* border-style: outset; */
    /* border-color:  rgba(100,146,253,.2); */
}

section h3 {
    padding: 0.5em;
}

footer form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

footer div {
    margin: 0 24px 17px;
}

footer label, footer input {
    display: inline-block;
    margin-inline-start: 10px;
}

.container {
    list-style: none;
    padding-left: 0;
}

.container-item {
    color: black;
    padding: 1.5%;
    background: lightblue;
    border-radius: 4px;
    text-align: left;
}

.container-item span {
    display: block;
    font-size: larger;
    font-weight: 700;
}

/* #nice-words {
    display: block;
} */

@media screen and (min-width: 583px){
    .container {
        display: flex;
        justify-content: space-around;
        font-size: larger;
    }
}

@media screen and (max-width: 934px){
    .container-item {
        font-size: smaller;
    }    
}

@media screen and (max-width: 768px){
    .container-item {
        font-size: smaller;
        width: fit-content;
        margin-bottom: 7%;
        padding: 1%;
    }
}

@media screen and (max-width: 695px){
    .container-item{
        font-size: small;
    }
}
