html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #13294B;
    color: #ebebeb;
}

section {
    background: darkcyan;
    /* border-width: 20px;
    border-color: skyblue; */
    border-radius: 5px;
    padding-bottom: 5px;
}

.container-item {
    color: black;
    padding: 1.5%;
}

section h3 {
    padding: 0.5em;
}

.container {
    list-style: none;
    
}

.container-item {
    /* width: 10%; */
    background: lightblue;
    border-radius: 4px;
    text-align: left;
}

.container-item span {
    display: block;
    font-size: larger;
    font-weight: 700;
}

@media screen and (min-width: 583px){
    .container {
        display: flex;
        justify-content: space-around;
        font-size: larger;
    }
}

@media screen and (max-width: 934px){
    .container-item {
        font-size: smaller;
    }    
}

@media screen and (max-width: 768px){
    .container-item {
        font-size: smaller;
        width: fit-content;
        margin-bottom: 7%;
        padding: 1%;
    }
}

@media screen and (max-width: 695px){
    .container-item{
        font-size: small;
    }
}
