
/* ----- Global Styles ------------------------------------------------------------ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #13294B;
    color: #ebebeb;
}

section {
    background: darkcyan;
    border-radius: 5px;
    padding-bottom: 5px;
}

section h3 {
    padding: 0.5em;
}

footer form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

footer div {
    margin: 0 24px 17px;
}

footer label, footer input {
    display: inline-block;
    margin-inline-start: 10px;
}


/* ----- Other Styles ---------------------------------------------------------------- */
.container {
    list-style: none;
    padding-left: 0;
}

.container-item {
    color: black;
    padding: 1.5%;
    background: lightblue;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0px 0px 12px 12px rgba(13, 13, 13, .05);
}

.container-item span {
    display: block;
    font-size: larger;
    font-weight: 700;
}

/* ----- Programming Exp Styles ----------------------------------------------------- */
.most-experienced {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
}

.advanced {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(0.35turn, #3f87a6, #ebf8e1, #f69d3c);
}

.intermediate {
    background: linear-gradient(304deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.novice {
    background: linear-gradient(200deg, #069921, #ebf8e1, #f63cd1);
}

.beginner {
    background: linear-gradient(#e66465, #9198e5);
}

/* For popup display */
/* element.style {
    display: inline;
    position: absolute;
    top: 328px;
    left: 52px;
    z-index: 100000;
    background: white;
    border-radius: inherit;
    box-shadow: inherit;
    list-style: none;
    width: 4em;
    padding: 0px 67px 0px 20px;
} */

/* ----- Responsive Styles ---------------------------------------------------------- */
@media screen and (min-width: 583px){
    .container {
        display: flex;
        justify-content: space-around;
        font-size: larger;
    }
}

@media screen and (max-width: 934px){
    .container-item {
        font-size: smaller;
    }    
}

@media screen and (max-width: 768px){
    .container-item {
        font-size: smaller;
        width: fit-content;
        margin-bottom: 7%;
        padding: 1%;
    }
}

@media screen and (max-width: 695px){
    .container-item{
        font-size: small;
    }
}
