/* 
data: 
    left for c# = 55
    left for c = 
 */


/* ----- Global Styles ------------------------------------------------------------ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #13294B;
    color: #ebebeb;
    /* width: 100%; */
}

header {
    text-align: center;
    /* width: 75%;
    margin: auto; */
}

section {
    background: darkcyan;
    border-radius: 5px;
    padding-bottom: 5px;
    text-align: center;
    /* margin: auto;
    width: 75%; */
}

section h3 {
    text-align: center;
    padding: 0.5em;
}

section ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

footer form {
    width: 60%;
    margin: auto;
}

footer h3 {
    text-align: center;
}

footer div {
    margin: 0 24px 17px;
}

footer label {
    display: inline-block;
    margin-inline-start: 10px;
    word-wrap: normal;
}

footer input {
    display: inline-block;
    margin-inline-start: 10px;
    word-wrap: normal;
}

/* ----- Other Styles ---------------------------------------------------------------- */
.container {
    list-style: none;
    padding-left: 0;
}

.container-item {
    color: black;
    padding: 1.5%;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0px 0px 12px 12px rgba(13, 13, 13, .05);
    transition:
        all 0.15s;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5.4em); */
}

.container-item span {
    display: block;
    font-size: larger;
    font-weight: 700;
}

.container-item:hover {
    transform: scale(1.1);
}

/* ----- Programming Exp Styles ----------------------------------------------------- */
.most-experienced {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
}

.advanced {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(0.35turn, #3f87a6, #ebf8e1, #f69d3c);
}

.intermediate {
    background: linear-gradient(304deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%),
    linear-gradient(124deg, rgba(255, 0, 0,.8), rgba(255, 0, 0, 0) 95%);
}

.novice {
    background: linear-gradient(200deg, #069921, #ebf8e1, #f63cd1);
}

.beginner {
    background: linear-gradient(#e66465, #9198e5);
}

/* For popup display */
.pop-up-display {
    display: inline;
    position: absolute;
    /* top: 290px;
    left: 55px; */
    z-index: 100000;
    background: white;
    border-radius: inherit;
    width: 40px;
    height: 80px;
    transition:
        width 0.25s,
        height 0.25s;
}

/* element.style {
    background: #911a1a;
    width: 102px;
    height: 600px;
    position: fixed;
    left: -46px;
    filter: blur(39px);
*/

/* ----- Responsive Styles ---------------------------------------------------------- */
@media screen and (min-width: 583px){
    .container {
        display: flex;
        justify-content: space-around;
        font-size: larger;
        width: 90%;
        margin: 0 auto 5%;
    }
}

@media screen and (max-width: 934px){
    .container-item {
        font-size: smaller;
    }    
}

@media screen and (max-width: 768px){
    .container-item {
        font-size: smaller;
        width: fit-content;
        margin-bottom: 7%;
        padding: 1%;
    }
}

@media screen and (max-width: 695px){
    span {
        display: inline;
    }

    .container-item{
        font-size: small;
    }
}

/* @media screen and (min-width: 1002px){
    footer form {
        display: flex;
        justify-content: center;
    }
} */
